@import "/src/App.scss";

.dropdown-menu {
  width: 150px;
  height: 120px;
  position: absolute;
  top: 18px;
  box-shadow: 0px 5px 10px rgba(148, 148, 148, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
}

.dropdown-menu > li {
  align-content: space-between;
  cursor: pointer;
  padding-top: 15px;
  &:hover {
    font-weight: 700;
    color: rgb(83, 83, 255);
  }
}

@media screen and (max-width: 1023px) {
  .dropdown-menu.clicked {
    margin-top: 10%;
    height: auto;
    box-shadow: none;
    background-color: inherit;
    transition: all 1s ease;
  }
  .dropdown-menu.clicked > li {
    height: 80px;
    color: #333;
    font-weight: 600;
    padding-top: 25px;
    &:hover {
      font-weight: 700;
    }
  }
}
