.project {
  margin-top: 120px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .after {
    display: none;
  }

  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
  }

  .project-dc {
    background-color: rgb(255, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .project-vi {
    background-color: rgb(165, 231, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .project-mm {
    background-color: rgb(172, 216, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .major {
    margin: 0 10px 0 10px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    position: relative;

    &:hover {
      width: 100%;
      .after {
        opacity: 0;
        display: flex;
        animation: project_description_move 0.5s linear forwards;
        animation-delay: 0.2s;
        position: absolute;
        top: 10%;
        .project-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .project-wrapper__top {
            h4 {
              font-size: 1.8rem;
            }
            .project-wrapper__professor {
              display: flex;
              font-weight: 400;
              margin-top: 30px;
              :nth-child(2),
              :nth-child(3) {
                margin-left: 10px;
              }
            }
          }
          .project-wrapper__bottom {
            margin-top: 15%;

            .project-wrapper__major {
              display: flex;
              width: 830px;
              .project-wrapper__majorDescription {
                font-size: 1.2rem;
                font-weight: 400;
                margin-top: 30px;
              }
              .project-wrapper-research {
                margin-left: 50px;
              }
            }
          }
          .project-wrapper__go {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10%;
            :nth-child(2) {
              margin-left: 10%;
            }
          }
        }
      }
      .before {
        display: none;
      }
    }
  }

  .description {
    width: 600px;
    display: none;

    font-size: 1.2rem;
    text-align: center;
    white-space: pre-wrap;
  }
}

@keyframes project_description_move {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
    opacity: 100;
  }
}
