.project {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .after {
    display: none;
  }

  .project-container {
    padding: 60px 0;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 100%;
  }

  .major {
    margin: 0 10px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.5s ease;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 8px 8px 16px rgba(67, 151, 67, 0.1),
      -8px -8px 16px rgba(105, 210, 205, 0.1);

    .before {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 3rem;
      }
      h6 {
        font-size: 1.25rem;
        margin-top: 10px;
      }
    }

    &:hover {
      width: 100%;
      .after {
        opacity: 0;
        display: flex;
        animation: project_description_move 0.5s linear forwards;
        animation-delay: 0.2s;
        position: absolute;
        top: 8%;
        .project-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .project-wrapper__top {
            h2 {
              font-size: 3rem;
            }
            h4 {
              font-size: 2rem;
            }
          }
          .project-wrapper__bottom {
            margin-top: 15%;

            .project-wrapper__major {
              display: flex;
              width: 850px;
              .project-wrapper__majorTitle {
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: -0.5px;
              }
              .project-wrapper__majorDescription {
                font-size: 1.2rem;
                font-weight: 400;
                margin-top: 25px;
                letter-spacing: 0.5px;
              }
              .project-wrapper-research {
                margin-left: 50px;
              }
            }
          }
          .project-wrapper__go {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            :nth-child(2) {
              margin-left: 10%;
            }
          }
        }
      }
      .before,
      .title-mini {
        display: none;
      }
    }
  }
}

@keyframes project_description_move {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
    opacity: 100;
  }
}
