.project {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/video/main_background1.mp4");
  background-size: cover;
  .after {
    display: none;
  }

  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 80%;
    margin-top: 50px;
  }

  .innerLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .major {
    margin: 0 10px;
    width: 20%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.5s ease;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 8px 8px 16px rgba(67, 151, 67, 0.1),
      -8px -8px 16px rgba(105, 210, 205, 0.1);

    .before {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 3rem;
      }
      h6 {
        font-size: 1.25rem;
        margin-top: 10px;
      }
    }
    @media (hover: hover) {
      &:hover {
        width: 100%;
        .after {
          opacity: 0;
          display: flex;

          animation: project_description_opacity 0.5s linear forwards;
          animation-delay: 0.2s;
          position: absolute;

          .project-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .project-wrapper__top {
              h2 {
                font-size: 3rem;
              }
              h4 {
                font-size: 2rem;
              }
            }
            .project-wrapper__bottom {
              margin-top: 15%;

              .project-wrapper__major {
                display: flex;
                width: 850px;
                .project-wrapper__majorTitle {
                  font-size: 1.25rem;
                  font-weight: 400;
                  letter-spacing: -0.5px;
                }
                .project-wrapper__majorDescription {
                  font-size: 1.2rem;
                  font-weight: 400;
                  margin-top: 25px;
                  letter-spacing: 0.5px;
                }
                .project-wrapper-research {
                  margin-left: 50px;
                }
              }
            }
            .project-wrapper__go {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              :nth-child(2) {
                margin-left: 10%;
              }
            }
          }
        }
        .before,
        .title-mini {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .project {
    padding: 0 40px;
    height: 100vh;
    padding-top: 10%;

    .project-container {
      margin-top: 0;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      height: 800px;

      .major {
        width: 100%;
        height: 252px;

        h4 {
          font-size: 1.5rem;
        }

        h6 {
          font-size: 1.25rem;
        }
      }

      .major-m {
        width: 100%;
        height: auto;
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 8px 8px 16px rgba(67, 151, 67, 0.1),
          -8px -8px 16px rgba(105, 210, 205, 0.1);

        .after {
          opacity: 0;
          display: flex;
          padding: 40px;
          width: 100%;
          animation: project_description_opacity 1s linear forwards;
          .project-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .project-wrapper__top {
              h2 {
                font-size: 2rem;
              }
              h4 {
                font-size: 1.25rem;
              }
            }
            .project-wrapper__bottom {
              margin-top: 10%;

              .project-wrapper__major {
                display: flex;
                flex-direction: column;
                width: 376px;
                .project-wrapper-studio {
                  margin-bottom: 30px;
                }

                .project-wrapper__majorTitle {
                  font-size: 1rem;
                  font-weight: 400;
                  letter-spacing: -0.5px;
                  margin-bottom: 15px;
                }
                .project-wrapper__majorDescription {
                  font-size: 1rem;
                  font-weight: 400;
                }
              }
            }
            .project-wrapper__go {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              :nth-child(2) {
                margin-left: 10%;
              }
            }
          }
        }
        .before,
        .title-mini {
          display: none;
        }
      }

      .project-dc,
      .project-vi {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 737px) {
  .project {
    padding: 20px;
    padding-bottom: 10%;
    .project-container {
      padding-top: 30%;
      height: 100%;
      width: 350px;
      .before {
        padding: 20px;
        h4,
        h6 {
          font-size: 1.25rem;
        }
      }
      .major-m {
        .after {
          padding: 20px;
          width: 350px;

          .project-wrapper {
            .project-wrapper__text {
              text-align: center;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .proejct-wrapper__title {
              h2,
              h4 {
                font-size: 1.25rem;
              }
            }

            .project-wrapper__bottom {
              margin-top: 25px;

              .project-wrapper-research {
                margin-bottom: 30px;
              }

              .project-wrapper__majorDescription {
                width: 300px;
                font-size: 0.875rem !important;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes project_description_move {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
    opacity: 100;
  }
}

@keyframes project_description_opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
