@import url(../../App.scss);

.about-visual {
  text-align: center;

  .about-visual-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-visual-title {
      font-weight: 700;
      margin-bottom: 50px;
      font-size: 2rem;
    }

    .about-visual-images {
      position: relative;
      height: 350px;
    }

    .visual-img-poster {
      animation: animA 10s infinite alternate;

      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .visual-img-polygons {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);

      animation: animB 10s infinite alternate;
    }

    .visual-img-polygons__medium,
    .visual-img-polygons__small {
      display: none;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animB 10s infinite alternate;
    }

    .visual-image {
      position: absolute;
    }
  }

  .about-visual-description__m,
  .about-visual-description {
    margin-top: 150px;
    font-size: 1.25rem;
    line-height: 32px;
  }

  .about-visual-description__m {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .about-visual {
    .about-visual-title {
      font-size: 1.5rem !important;
      font-weight: 700;
      margin-bottom: 130px !important;
    }

    .visual-img-poster {
      width: 332px;
      height: 473px;
    }

    .visual-img-polygons,
    .visual-img-polygons__small {
      display: none;
    }

    .visual-img-polygons__medium {
      display: block !important;
    }

    .about-visual-description {
      width: 600px;
    }
    .about-visual-description {
      margin-top: 200px;
      font-size: 1rem;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 737px) {
  .about-visual {
    padding: 0 20px;
    .about-visual-wrapper {
      .about-visual-title {
        font-size: 1.5rem !important;
        margin: 0 auto;
        margin-bottom: 30px !important;
      }

      .about-visual-images {
        .visual-img-poster {
          width: 222px;
          height: 327px;
        }

        .visual-img-polygons__medium {
          display: none !important;
        }

        .visual-img-polygons__small {
          display: block;
        }
      }
      .about-visual-description {
        display: none;
      }
      .about-visual-description__m {
        display: block;
        margin-top: 100px;
        font-size: 0.875rem;
        line-height: 20px;
        width: 280px;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .about-visual {
    margin-top: 50%;
  }
}

@keyframes animA {
  0%,
  25% {
    opacity: 0;
    z-index: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes animB {
  0%,
  25% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
