@charset "utf-8";
@import url(../../App.scss);

.container {
  text-align: center;
  margin-top: 120px;
}

.about-people-title {
  font-size: 2rem;
  font-weight: 700;
}

.about-people-p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.about-people-span {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.item-middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-top {
  margin-bottom: 80px;
}

.item-left,
.item-right,
.item-center {
  width: 240px;
  margin-bottom: 80px;
  div {
    display: flex;
    flex-direction: column;
  }
}

.item-right {
  letter-spacing: -1px;
}

.item-down {
  display: flex;
  justify-content: space-between;
  .item-down-wrapper {
    width: 240px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}

.item-lt,
.item-rt,
.item-left {
  div {
    display: flex;
    flex-direction: column;
  }
}
.item-top > p,
.item-left > p,
.item-center > p,
.item-right > p,
.item-lt > p,
.item-rt > p,
.item-lb > p,
.item-rb > p {
  margin-bottom: 30px;
}
.item-top > div > span:first-child {
  margin-right: 70px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-top: 240px;
  }
  .about-people-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .about-people-p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 32px;
  }
  .about-people-span {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .item-left,
  .item-right,
  .item-center {
    width: 160px;
    margin-bottom: 80px;
    div {
      display: flex;
      flex-direction: column;
    }
  }

  .item-down {
    display: flex;
    justify-content: space-between;
    .item-down-wrapper {
      width: 160px;
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 737px) {
  .container {
    margin-top: 20%;
  }
  .item-down {
    display: none;
  }
  .item-top {
    margin-bottom: 45px;
    .about-people-title {
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
  }

  .item-middle {
    display: flex;
    flex-direction: column;

    .item-left,
    .item-right,
    .item-center {
      margin: 0 auto;
      margin-bottom: 45px;

      .about-people-p {
        margin-bottom: 20px;
      }
      .about-people-span {
        margin-bottom: 10px;
      }
    }

    .about-people-p {
      margin: 0 auto;
    }
  }
}
