@charset "utf-8";
@import url(../../App.scss);

.container {
  text-align: center;
}

.about-people-p {
  font-size: 1.5rem;
  font-weight: 700;
}
.about-people-span {
  font-size: 1.2rem;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-top {
  grid-column: 1/7;
}
.item-top,
.item-center,
.item-right {
  margin-bottom: 120px;
}

.item-middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-left,
.item-right,
.item-center {
  width: 240px;
}

.item-right {
  letter-spacing: -1px;
}

.item-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-lt,
.item-rt,
.item-left {
  margin-bottom: 120px;
}
.item-top > p,
.item-left > p,
.item-center > p,
.item-right > p,
.item-lt > p,
.item-rt > p,
.item-lb > p,
.item-rb > p {
  margin-bottom: 30px;
}
.item-top > div > span:first-child {
  margin-right: 70px;
}
.item-left > div > span:first-child,
.item-center > div > span:first-child,
.item-right > div > span:first-child {
  margin-right: 128px;
}

.item-left {
  grid-column: 1/3;
  justify-self: start;
}
.item-center {
  grid-column: 3/5;
  justify-self: center;
}
.item-right {
  grid-column: 5/7;
  justify-self: end;
}
.item-lt,
.item-lb {
  grid-column: 1/4;
  justify-self: start;
}
.item-rt,
.item-rb {
  grid-column: 4/7;
  justify-self: end;
}
.mr > div > span {
  margin-right: 58px;
}
.mr > div > span:last-child {
  margin-right: 0px;
}
