.about-sections {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
}

.about-section {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// section 1

.about-section-one {
  height: 100vh;

  .section-one-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .one-text-warpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .one-title {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    animation: text_letterSpacing 1s ease-out forwards;
  }

  .one-description {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1.2px;
    animation: description_move 1s ease forwards;
    display: flex;
    flex-direction: column;
    :nth-child(2) {
      margin-bottom: 60px;
    }
  }
  .one-play {
    font-size: 2em;
    color: #333;
  }

  .one-title-mobile {
    display: none;
  }
}

// scroll-down

.about-scrollDown-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 60px;

  .scroll-down {
    border: 1px solid #707070;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #707070;
  }
}

// section 2

.about-section-two {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .two-title {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
  }

  .two-cards-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

// section 3 {
.about-section-three {
  height: 100vh;
  font-size: 1.2rem;

  .three-title {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }

  .three-people-wrapper {
    margin-bottom: 30px;
    > span {
      font-weight: 700;
      border-bottom: 3px solid black;
    }

    .three-people {
      display: flex;
      justify-content: space-between;
    }

    .people-wrapper {
      width: 140px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      margin-top: 30px;
      :nth-child(1) {
        font-weight: 700;
        margin-bottom: 30px;
      }
    }
  }

  .people-team {
    margin-top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 45px;
  }

  .team-wrapper {
    display: flex;
    flex-direction: column;
    :nth-child(1) {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .about {
    margin-left: 30px;
    margin-right: 30px;
  }

  .about-section-one {
    .one-title-mobile {
      display: block;
      font-weight: 700;
      text-align: center;
      font-size: 1.5rem;
    }

    .one-title {
      font-size: 3.5rem;
    }
  }
  .about-section-two {
    .two-title {
      font-size: 1.5rem;
    }
  }

  .about-section-three {
    .three-title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 737px) {
  .section-one-wrapper,
  .section-two-wrapper,
  .section-three-wrapper {
    height: 80vh;
    margin-top: 100px;
  }

  // section one

  .about-section-one {
    .one-title-mobile {
      display: block;
      font-weight: 700;
      text-align: center;
      font-size: 1.5rem;
    }

    .one-text-warpper {
      margin-top: 100px;
      .one-title {
        font-size: 1.5rem;
        animation: none;
      }
      .one-description {
        font-size: 1rem;
        white-space: pre-wrap;
        animation: none;
        margin-top: 30px;
        letter-spacing: 0;
        :nth-child(2) {
          margin-bottom: 30px;
        }
      }
      .one-play {
        margin: 0;
      }
    }
  }
  .about-section-two {
    .two-title {
      font-size: 1.5rem;
    }
  }
  .about-section-three {
    .three-title {
      font-size: 1.5rem;
    }
  }

  // section two

  .about-section-two .two-cards-wrapper {
    height: 500px;
  }
}

// properties
@keyframes text_letterSpacing {
  0% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: 5px;
  }
}

@keyframes description_move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}
