.about-sections {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
  margin: 0 auto;
}

.about-section {
  scroll-snap-align: start;
  position: relative;
  height: 100%;
  padding: 0 160px;
  padding-top: 190px;
}

// section 1

.about-section-one {
  height: 100vh;

  .one-title {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    animation: text_letterSpacing 1s ease-out forwards;
    margin-top: 110px;
  }

  .one-text-warpper {
    display: flex;
    flex-direction: column;
  }

  .one-description {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1.2px;
    animation: description_move 1s ease forwards;
    display: block;
    :nth-child(1) {
      margin-bottom: 60px;
    }
  }
  .one-play {
    font-size: 2em;
    color: #333;
  }

  .one-title-mobile {
    display: none;
  }
}

// section 2

.about-section-two {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .two-title {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
  }

  .two-cards-wrapper {
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 32px;
    .cards-item {
      display: flex;
      justify-content: center;
    }
  }
}

// section 3 {

//section 4 {
.about-section-four {
  padding-top: 120px;
}
//footer

.about-footer {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 10vh;
}

// scroll-down

@media screen and (max-width: 1023px) {
  .about {
    min-width: 768px;
    .about-section {
      padding: 0;
    }

    .about-section-one {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .one-title {
        margin: 0 auto;
        font-size: 2rem;
        animation: none;
      }
      .one-description :nth-child(1) {
        margin-bottom: 35px;
      }
    }

    .about-section-two {
      .two-title {
        font-size: 1.5rem;
      }

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .two-cards-wrapper {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
        padding: 20px 40px;
        margin-top: 120px;
        overflow-x: scroll;
      }
    }

    .about-section-three {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-section-four {
      margin: 0 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-footer {
    }
  }
}

@media screen and (max-width: 737px) {
  .section-one-wrapper,
  .section-two-wrapper,
  .section-three-wrapper {
    height: 80vh;
    margin-top: 50%;
  }

  .one-title-mobile,
  .two-title,
  .three-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  // section one

  .about-section-one {
    .one-title-mobile {
      display: block;
      font-weight: 700;
      text-align: center;
      font-size: 1.5rem;
    }

    .one-text-warpper {
      margin-top: 100px;
      .one-title {
        font-size: 1.5rem;
        animation: none;
      }
      .one-description {
        font-size: 1rem;
        white-space: pre-wrap;
        animation: none;
        margin-top: 30px;
        letter-spacing: 0;
        :nth-child(2) {
          margin-bottom: 30px;
        }
      }
      .one-play {
        margin: 0;
      }
    }
  }
  .about-section-two {
    .two-title {
      font-size: 1.5rem;
    }
  }
  .about-section-three {
    .three-title {
      font-size: 1.5rem;
    }
  }

  // section two

  .about-section-two {
    .two-cards-wrapper {
      height: auto;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
    }
  }

  // section three

  .about-section-three,
  .about-section-three-additional {
    .three-top-wrapper {
      margin-top: 10%;
      width: 100%;

      .three-people-wrapper {
        margin-bottom: 10%;
        span {
          margin-bottom: 10px;
        }
        .three-people {
          text-align: center;
          font-size: 1rem;
        }
      }
    }

    .three-bottom-wrapper {
      display: none;
    }
  }

  .about-section-three-additional {
    height: 100vh;
    display: flex;
    align-items: center;

    .three-bottom-wrapper-additional {
      display: flex;
      .people-team {
        margin-top: 60%;
        margin-top: 30px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 45px;
      }
    }
  }

  //scroll

  .about-scrollDown-wrapper,
  .about-scrollDown-wrapper-additional {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;

    .scroll-down {
      border: 0;
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #707070;
    }
    :nth-child(2) {
      margin-right: 10px;
    }
  }
}

// properties
@keyframes text_letterSpacing {
  0% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: 5px;
  }
}

@keyframes description_move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}
