.home {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.home-section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.one-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.one {
  .one-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-logo-768,
    .main-logo-390 {
      display: none;
      margin-bottom: 30px;
    }
    .main-logo-1920 {
      width: 50%;
      margin-bottom: 70px;
    }
    .one-title-warpper {
      color: #ffffff;
      h1 {
        font-size: 2rem;
        margin-bottom: 15px;
        font-weight: 700;
      }
      h2 {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}

.two {
  .two-wrapper {
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .two-contents {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .two-prismImage-768 {
      display: none;
    }
    .two-text-wrapper {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;

      .two-prismLogo {
        width: 60%;
        margin-bottom: 50px;
      }
      .two-description {
        color: #ffffff;
        font-size: 1.25rem;
        margin-bottom: 50px;
      }
      .two-viewProejct {
        width: 410px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .one {
    .one-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
    }
    .one-wrapper {
      .main-logo-1920,
      .main-logo-390 {
        display: none;
      }
      .main-logo-768 {
        display: block;
      }
    }
  }

  .two {
    .two-wrapper {
      .two-contents {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .two-prismImage-768 {
          display: block;
        }
        .two-prismImage-1920 {
          display: none;
        }
      }
      .two-text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .two-description {
          margin-bottom: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 737px) {
  .one {
    .one-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
    }
    .one-wrapper {
      .main-logo-1920,
      .main-logo-768 {
        display: none;
      }
      .main-logo-390 {
        display: block;
        margin-bottom: 20px;
      }

      .one-title-warpper {
        h1 {
          font-size: 1rem;
          text-align: center;
        }
        h2 {
          font-size: 1rem;
        }
      }
    }
  }

  .two {
    .two-wrapper {
      .two-contents {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .two-prismImage-768 {
          display: block;
          width: 60%;
          position: absolute;
          top: 20%;
        }
        .two-prismImage-1920 {
          display: none;
        }
      }
      .two-text-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 200px;
        .two-prismLogo {
          width: 50%;
          z-index: 100;
          margin-bottom: 20px;
        }
        .two-description {
          font-size: 0.875rem;
          z-index: 100;
          margin-bottom: 128px;
        }
        .two-viewProejct {
          width: 80%;
        }
      }
    }
  }
}
