.headerDark {
  width: 100%;
  position: absolute;
  z-index: 99;

  .header-logo {
    width: 80%;
    height: 80%;
  }

  .header-logo-small {
    display: none;
  }

  .header-wrapper {
    width: 100%;
    position: relative;
    padding: 30px 0;
    box-sizing: border-box;
  }

  .header-container {
    padding: 0 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .header-title {
    font-weight: 700;
  }
  .header-navbar {
    width: 378px;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-item,
  .navbar-arrow,
  .menu-icon {
    font-size: 1.25rem;
    color: #333;
  }
}

@media screen and (max-width: 1200px) {
  .headerDark {
    width: 100%;
    position: fixed;
    .header-logo {
      width: 100%;
      height: 100%;
    }
    .header-wrapper {
      padding: 30px 0;
    }

    .header-container {
      padding: 0 40px;
    }

    .menu-icon {
      display: block;
      transform: translate(-100%, 60%);
      font-size: 1.2rem;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .navbar-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -100%;
      top: 0;
      justify-content: flex-start;
      height: 100vh;
      opacity: 1;
      transition: all 0.5s ease;

      .navbar-list {
        text-align: right;
        padding: 2rem;
        width: 100%;
        display: table;
        font-weight: 500;
      }
    }

    .header-navbar {
      .active {
        background: #fdfdfd;
        width: 30%;
        top: 0;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        position: fixed;

        .navbar-list-active {
          text-align: right;
          padding: 2rem;
          width: 100%;
          display: table;
          font-weight: 500;
          .list-item {
            color: #333 !important;
          }
          .menu-icon-mobile-active {
            font-size: 1.5rem;
          }
        }
      }
    }

    .navbar-arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 737px) {
  .headerDark {
    .header-logo {
      display: none;
    }
    .header-logo-small {
      display: block !important;
    }

    .header-container {
      padding: 0 20px;
    }
    .header-wrapper {
      padding: 30px 0;
    }
  }

  .menu-icon {
    display: block;
    transform: translate(-100%, 60%);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -100%;
    top: 0;
    justify-content: flex-start;
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease;
    width: 50%;
    text-align: right;

    .navbar-list {
      text-align: right;
      padding: 2rem;
      width: 100%;
      display: table;
      font-weight: 500;
    }
  }

  .header-navbar {
    .active {
      background: #fdfdfd;
      width: 50% !important;
      top: 0;
      right: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;

      .navbar-list-active {
        text-align: right;
        padding: 2rem;
        width: 100%;
        display: table;
        font-weight: 500;
        .list-item {
          color: #333 !important;
        }
        .menu-icon-mobile-active {
          font-size: 1.5rem;
        }
      }
    }
  }

  .navbar-list {
    text-align: right;
    padding: 2rem;
    width: 100%;
    font-weight: 500;
  }
  .navbar-arrow {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .header {
    .header-logo {
      display: none;
    }
    .header-logo-small {
      display: block !important;
    }

    .header-container {
      padding: 0 20px;
    }
    .header-wrapper {
      padding: 10px 0;
    }
  }
}
