.header {
  width: 100%;
  position: fixed;
  background-color: #fdfdfd !important;
  z-index: 99;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
  width: 100%;
  position: relative;
  padding: 30px 0;
  box-sizing: border-box;
}

.header-container {
  padding: 0 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-title {
  font-weight: 700;
}
.header-navbar {
  width: 20%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-wrapper {
    padding: 0 30px 0 30px;
  }
  .menu-icon {
    display: block;
    transform: translate(-100%, 60%);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -100%;
    justify-content: flex-start;
    height: 90vh;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 30px;
  }

  .active {
    background: #fdfdfd;
    width: 50%;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

    .header-background {
      background-color: black;
      width: 100%;
      height: 100%;
    }
  }
  .navbar-list {
    text-align: left;
    padding: 2rem;
    width: 100%;
    display: table;
    font-weight: 500;
  }
  .navbar-arrow {
    display: none;
  }
}

@media screen and (max-width: 737px) {
  .menu-icon {
    display: block;
    transform: translate(-100%, 60%);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -100%;
    justify-content: flex-start;
    height: 90vh;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 30px;
  }

  .active {
    background: #fdfdfd;
    width: 50%;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

    .header-background {
      background-color: black;
      width: 100%;
      height: 100%;
    }
  }
  .navbar-list {
    text-align: right;
    padding: 2rem;
    width: 100%;
    font-weight: 500;
  }
  .navbar-arrow {
    display: none;
  }
}
