.features-item {
  position: relative;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

@media (hover: hover) {
  .features-item :hover {
    .features-image-hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);

      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-origin: 0 100% scale(1.5, 1.5);
    }
    .hover-info {
      display: flex;
    }
  }
}

.features-image-hover {
  position: absolute;
}

.hover-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  .hover-info-name {
    width: inherit;
    height: inherit;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .hover-info-text {
    width: inherit;
    height: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.features-image {
  width: 100%;
  height: 100%;
}

.features-image-wrapper {
  line-height: 0;
}

@media screen and (max-width: 1200px) {
  .features-image-hover {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    bottom: 0;
    width: 100%;
    height: 35%;
    justify-content: center;
  }
  .hover-info {
    display: flex;

    .hover-info-text {
      font-size: 1rem;
      font-weight: 500;
    }

    .hover-info-name {
      font-size: 1rem;
      margin: 0 auto;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 737px) {
  .hover-info {
    display: flex;

    .hover-info-text {
      font-size: 0.875rem !important;
      font-weight: 500;
    }

    .hover-info-name {
      font-size: 0.875rem;
      margin: 0 auto;
      font-weight: 400;
    }
  }
}
