.MM-contents {
  max-width: 1600px;
  margin: 0 auto;
  height: 1000vh;

  .MM-contents-manual {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 60px;
  }
  .MM-contents-listBox {
    background-color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    padding: 60px 80px;

    .MM-contents-lists {
      .MM-contents-list {
        padding: 20px 20px;
        .MM-list-top {
          display: flex;
          :nth-child(1) {
            margin-right: 20px;
            font-size: 1.25rem;
          }
        }
        .MM-list-bottom {
          margin-top: 20px;
          display: flex;
          .list-bottom-image {
            img {
              width: 100%;
            }
          }
          .list-bottom-text {
            .list-bottom-text_description {
              margin-bottom: 40px;
              font-size: 1.25rem;
            }
            margin-left: 35px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .list-bottom-text_designer {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .MM-contents-video {
    :nth-child(1) {
      background-color: blue;
    }
    :nth-child(2) {
      background-color: red;
    }
    :nth-child(3) {
      background-color: green;
    }
  }
}
