.features-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 45px;
}

.features-items {
  width: 100%;
  height: auto;
}

// 반응형 구현

@media screen and (max-width: 1200px) {
  .features-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .features-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 45px;
  }
}

@media screen and (max-width: 500px) {
  .features-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 45px;
  }
}
