.MM-contents {
  max-width: 1200px;
  margin: 0 auto;
  height: 150vh;

  .MM-contents-manual {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 60px;
  }
  .MM-contents-listBox {
    background-color: #fdfdfd;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    padding: 30px 60px 60px 30px;

    .MM-contents-lists {
      .MM-contents-list {
        padding: 20px 20px;
        .MM-list-top {
          display: flex;
          :nth-child(1) {
            margin-right: 20px;
            font-size: 1.25rem;
          }
          .list-top-time-mobile {
            display: none;
          }
        }
        .MM-list-bottom {
          margin-top: 20px;
          display: flex;
          .list-bottom-image {
            .list-top-time-mobile {
              display: none;
            }
            img {
              width: 100%;
            }
          }
          .list-bottom-text {
            .list-bottom-text_description {
              margin-bottom: 40px;
              font-size: 1.25rem;
            }
            margin-left: 35px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .list-bottom-text_designer {
              display: flex;
              justify-content: space-between;
            }

            .list-bottom-text_designer-studio {
              display: flex;
              :nth-child(1) {
                margin-right: 80px;
              }
            }
          }
        }
        .list-bottom-text_designer-768,
        .list-bottom-text_designer-768-studio {
          display: none;
        }
      }
    }
  }
  .MM-contents-video {
    margin-top: 60px;
    .video-contents {
      height: 800px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .MM-contents {
    max-width: 1600px;
    margin: 0 auto;
    height: 120vh;

    .MM-contents-manual {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      color: #333;
      margin-top: 60px;
    }
    .MM-contents-listBox {
      background-color: #fdfdfd;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
      padding: 40px 40px;

      .MM-contents-lists {
        .MM-contents-list {
          padding: 20px 0;
          .MM-list-top {
            display: flex;
            :nth-child(1) {
              margin-right: 20px;
              font-size: 1.25rem;
            }
            .list-top-time-mobile {
              display: none;
            }
          }
          .MM-list-bottom {
            margin-top: 20px;
            display: flex;
            .list-bottom-image {
              .list-top-time-mobile {
                display: none;
              }
              img {
                width: 100%;
              }
            }
            .list-bottom-text {
              .list-bottom-text_description {
                font-size: 0.875rem !important;
                margin-bottom: 0 !important;
              }
              margin-left: 35px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              .list-bottom-text_designer,
              .list-bottom-text_designer-studio {
                display: none;
                justify-content: space-between;
              }
            }
          }
          .list-bottom-text_designer-768 {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
          }
          .list-bottom-text_designer-768-studio {
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
          }
        }
      }
    }
    .MM-contents-video {
      margin-top: 30px;
      .video-contents {
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: 737px) {
  .MM-contents {
    max-width: 1600px;
    margin: 0 auto;
    height: 120vh;

    .MM-contents-manual {
      display: flex;
      justify-content: center;

      text-align: center;
      font-size: 0.875rem;
      color: #333;
      margin-top: 30px;
    }
    .MM-contents-listBox {
      background-color: #fdfdfd;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
      padding: 0 0 40px 0;

      .MM-contents-lists {
        .MM-contents-list {
          padding: 20px 20px;
          .MM-list-top {
            display: flex;
            justify-content: center;
            div,
            strong {
              font-size: 1rem !important;
            }

            :nth-child(1) {
              margin-right: 20px;
              display: none;
            }
            .list-top-time-mobile {
              display: block;
            }
          }
          .MM-list-bottom {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .list-bottom-image {
              display: flex;
              align-items: flex-end;
              .list-top-time-mobile {
                display: block;
              }

              img {
                width: 50%;
                margin-right: 30px;
              }
            }
            .list-bottom-text {
              .list-bottom-text_description {
                font-size: 0.875rem !important;
                margin-bottom: 0 !important;
                margin-top: 20px;
              }

              margin: 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              .list-bottom-text_designer,
              .list-bottom-text_designer-studio {
                display: none;
                justify-content: space-between;
              }
            }
          }
          .list-bottom-text_designer-768 {
            display: flex;
            margin-top: 30px;
            font-size: 0.875rem !important;
            flex-direction: column;
            :nth-child(2),
            :nth-child(3) {
              margin-top: 20px;
            }
            .list-designer-studio {
              margin-right: 160px;
            }
          }
          .list-bottom-text_designer-768-studio {
            display: flex;

            margin-top: 30px;
            font-size: 0.875rem !important;
          }
        }
      }
    }
    .MM-contents-video {
      margin-top: 30px;
      .video-contents {
        height: 300px;
      }
    }
  }
}
