@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif !important;
}

html {
  -ms-overflow-style: none;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 341px;
}

.app {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 737px) {
}
