* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Inter" !important;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  font-family: "Inter";
  margin: 0 60px 0 60px;
}
.app {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
