@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif !important;
}

html,
body {
  -ms-overflow-style: none;
  height: 100%;
}

.app {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 737px) {
}
